.cta {
  border: solid 2px $color-brand-primary;
  background-color: transparent;
  color: $color-brand-primary;
  font-size: 15px;
  border-radius: 0;
  padding: 10px 24px 10px;
  @include transition(all 250ms ease-in-out);

  &:hover {
    border: solid 2px $color-brand-primary;
    background-color: $color-brand-primary;
    color: #fff;
  }
}
