/**
 * Global form styles
 */
.gform_wrapper {
  textarea,
  input {
    border-color: $color-brand-primary;

    &::placeholder {
      color: $color-dark-grey;
      font-size: 14px;
      line-height: 21px;
    }
  }

  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 20px 4% !important;
  }

  input {
    &[type="file"] {
      padding-left: 0px;
      border: none;
      @include box-shadow(none);
    }
  }

  .gform_footer {
    input[type="submit"] {
      @extend .btn;
      @extend .cta;
    }
  }
}


/**
 * Testimonial form
 */
.testimonial-form {
  padding: $post-padding-top 0 $post-padding-bottom;
  border: $body-border-top-height solid $color-brand-primary;

  .gfield_required {
    display: none !important;
  }

  .gform_wrapper .top_label input.medium {
    width: 100%;
  }
}
  // TESTIMONIAL FORM SPECIFIC PAGE RULE => HOW NOT TO STYLE THINGS
  @media screen and (min-width: 768px) {
    .page-template-template-testimonials footer {
      margin-top: 0px;
    }
    .page-template-template-testimonials .content-container:last-of-type {
      margin-bottom: 0px;
    }
  }
