body {
  color: $body-text-color;
  font-size: $body-base-font-size;
  font-family: $body-base-font-family;
  font-weight: $body-base-font-weight;
  line-height: $body-base-line-height;
  overflow-x: hidden;

  @media only screen and (min-width: 768px) {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2O8devWTDU1tXQGJMCIzIGxKRQEAJhPBAaNA+MCAAAAAElFTkSuQmCC);
  }

  @media only screen and (max-width: 768px) {
    padding-top: 51px;
  }
}

.jumbotron {
  margin-bottom: 0;
}

.content-container {
  margin-top: $content-container-margin-top;
  margin-bottom: $content-container-margin-bottom;
  @include clearfix;
}

.padded-container {
  @media only screen and (min-width: 768px) {
    padding: 50px 0;
  }
}

.carousel-content {
  color: black;
  display: flex;
  align-items: center;
}

.carousel-indicators li {
  border-width: 2px;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

.badge {
  border-radius: 0;
  font-size: 11px;
  padding: 10px 18px 10px;
  text-transform: uppercase;
  text-shadow: none;
  z-index: 100;

  &.badge-sale {
    background-color: $color-brand-primary;
  }

  &.badge-rent {
    background-color: #03a8ad;
  }

  .fa {
    margin-right: 4px;
  }
}

.testimonial-carousel .row {
  background-color: #fff;

  @media only screen and (min-width: 768px) {
    padding: 70px 0;
  }

  .section-header {
    margin-bottom: 25px;
  }
}

.carousel-control {
  background: none !important;
  color: $color-grey;
  opacity: 0.5;
  text-shadow: none;
  width: 4%;
  z-index: 2;

  .glyphicon {
    font-size: 20px;
  }
}

.jumbotron p {
  margin-bottom: 0 !important;
}

.location-category {
  background-color: $color-white;
  border-bottom: solid 3px $color-brand-primary;
  color: $color-dark-grey;
  padding: 16px 0 14px;
  z-index: 101;

  h3 {
    margin-bottom: 0;
  }
}

.logo-white {
  background-image: url(../../images/logo-white.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  height: 70px;
  text-indent: -9999px;
}
