.icon {
  background-color: $color-dark-grey;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-indent: -9999px;

  &:hover {
    background-color: $color-brand-primary !important;
  }

  &.icon-white {
    background-color: $color-white;
  }

  &.facebook {
    height: 18px;
    -webkit-mask: url(#{$image-base-path}/facebook.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/facebook.svg) center / contain no-repeat;
  }

  &.twitter {
    height: 19px;
    -webkit-mask: url(#{$image-base-path}/twitter.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/twitter.svg) center / contain no-repeat;
  }

  &.house {
    height: 17px;
    -webkit-mask: url(#{$image-base-path}/house.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/house.svg) center / contain no-repeat;
  }

  &.bathroom {
    height: 17px;
    -webkit-mask: url(#{$image-base-path}/bathroom.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/bathroom.svg) center / contain no-repeat;
  }

  &.bedroom {
    height: 17px;
    -webkit-mask: url(#{$image-base-path}/bedroom.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/bedroom.svg) center / contain no-repeat;
  }

  &.ruler {
    height: 17px;
    -webkit-mask: url(#{$image-base-path}/ruler.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/ruler.svg) center / contain no-repeat;
  }

  &.phone {
    height: 17px;
    -webkit-mask: url(#{$image-base-path}/phone.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/phone.svg) center / contain no-repeat;
  }

  &.mail {
    height: 17px;
    -webkit-mask: url(#{$image-base-path}/mail.svg) center / contain no-repeat;
            mask: url(#{$image-base-path}/mail.svg) center / contain no-repeat;
  }
}
