@mixin backgroundGradient($direction, $color-stops...) {
  position: relative;
  z-index: 100;

  * {
    z-index: 2;
  }

  &:after {
    bottom: 0;
    background: -webkit-linear-gradient(to $direction, $color-stops);
    background: linear-gradient(to $direction, $color-stops);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
  }
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
