h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 1.5em !important;
  letter-spacing: -1px;
  line-height: 1.4;
}

h2,
.h2 {
  font-size: 1.3em !important;
  letter-spacing: -1px;
  line-height: 1.4;
}

h3,
.h3 {
  font-size: 1.2em !important;
  line-height: 1.3;
}

h4,
.h4 {
  font-size: 1.1em !important;
  line-height: 1.3;
}

.quiet {
  color: $color-grey;
  opacity: 0.5;
}
