.background-grandient-top {
  @include backgroundGradient(top, transparent, $color-black);
}

.background-grandient-bottom {
  @include backgroundGradient(bottom, transparent, $color-black);
}

.background-grandient-left {
  @include backgroundGradient(left, transparent, $color-black);
}

.background-grandient-right {
  @include backgroundGradient(right, transparent, $color-black);
}

.vertical-center {
  align-items: center;
  display: flex;
}

.border-bottom {
  &::after {
    background-color: $color-brand-primary;
    content: "";
    display: block;
    height: 3px;
    margin: 20px 0;
    width: 60px;
  }
}

.section-header {
  border-bottom: solid 2px $color-brand-primary;
  display: table;
  margin: 0 auto 70px;
  padding-bottom: 3px;
}

.box-shadow {
  @media only screen and (min-width: 768px) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
  }
}

.padding-mobile {
  @media only screen and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.padding-desktop {
  @media only screen and (min-width: 768px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}


/**
 * Background colours
 */
.background-brand-primary {
  background-color: $color-brand-primary;
}
.background-black {
  background-color: $color-black;
}
.background-white {
  background-color: $color-white;
}
.background-dark-grey {
  background-color: $color-dark-grey;
}
.background-grey {
  background-color: $color-grey;
}
.background-light-grey {
  background-color: $color-light-grey;
}


/**
 * Image utils
 */
.image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
