// Colors
$color-brand-primary: #B4A169;
$color-black: #000;
$color-white: #fff;
$color-dark-grey: #3A3948;
$color-grey: #404040;
$color-light-grey: #E3E3E3;

// Fonts
$font-family-heading: 'CircularStd-Book', serif;
$font-weight-heading: 500;
$font-family-body: 'CircularStd-Book', serif;
$font-wieght-body: 300;

// Urls
$image-base-path: "../../images";

// Body
$body-border-top-height: 3px;
$body-border-top-color: $color-brand-primary;
$body-text-color: $color-dark-grey;
$body-base-font-size: 16px;
$body-base-line-height: 26px;
$body-base-font-family: $font-family-body;
$body-base-font-weight: $font-wieght-body;

// Navbar
$navbar-border-radius: 0;
$navbar-margin-bottom: 0;
$navbar-default-link-color: $color-dark-grey;

// Content Container
$content-container-margin-top: 0;
$content-container-margin-bottom: 80px;

// Property
$property-margin-bottom: 30px;

// Jumbotron
$jumbotron-heading-font-size: $body-base-font-size;
$jumbotron-font-size: $body-base-font-size;

// Footer
$footer-background-color: #373737;
$footer-color: #fff;
$footer-padding-top: 40px;
$footer-padding-bottom: 40px;
$footer-margin-top: 80px;
$footer-row-margin-bottom: 30px;

// Pagination
$pagination-color: $color-black;
$pagination-active-color: $color-white;
$pagination-hover-bg: $color-white;

// Post Padding
$post-padding-top: 40px;
$post-padding-bottom: 40px;
$post-margin-bottom: 80px;

// Hero
$hero-margin-top-small: 50px;
$hero-margin-bottom-small: 40px;
$hero-margin-top: 63px;
// $hero-margin-top: 100px;
$hero-margin-bottom: 80px;
$hero-title-bottom-margin: 50px;
$hero-height-mobile: 250px;
$hero-height: 400px;
$hero-letter-spacing: 0.18px;
$hero-font-size: 2em;

