#hero-carousel {
  margin-bottom: $content-container-margin-bottom;
  position: relative;

  @media only screen and (max-width: 480px) {
    height: 300px;
  }

  .carousel-control {
    background: none;
    opacity: 1;
    width: 12%;

    .glyphicon {
      box-shadow: none;
      font-size: 24px;
    }
  }

  .carousel-caption {
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: left;
    text-shadow: none;

    .badge {
      margin-bottom: 10px;
    }

    h4 {
      font-size: 1em !important;
    }
  }

  .carousel-inner > .item > img {
    min-height: 300px;
  }

  .carousel-sub {
    background-color: $color-brand-primary;
    bottom: 0;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 12px;
    position: absolute;
    width: 100%;
    z-index: 102;

    .attributes {
      display: none;
      margin: 0;

      &.active {
        display: block;
      }

      li {
        margin-right: 15px;

        span {
          vertical-align: middle;
        }

        .icon {
          background-color: $color-white;
        }
      }
    }

    .carousel-indicators {
      left: 0;
      margin: 0;
      position: relative;
      right: 0;
      top: 1px;
      width: auto;
    }
  }
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
