.home .hero {
  margin-top: $hero-margin-top-small;

  // @media screen and (min-width: 768px) {
  //   margin-top: $hero-margin-top;
  // }
}

.hero {
  height: $hero-height-mobile;
  margin: 0 0 $hero-margin-bottom-small;
  position: relative;
  z-index: 1;

  /**
   * TODO: find better solution to text overlay
   */
  // &:before {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   content: " ";
  //   display: block;
  //   z-index: 1;
  //   background-color: rgba($color-brand-primary, .2);
  // }

  .hero-container {
    position: relative;
    z-index: 2;
    height: 100%;
  }

  h1 {
    position: absolute;
    left: 0;
    bottom: $hero-title-bottom-margin;
    color: $color-white;
    letter-spacing: $hero-letter-spacing;
    border-bottom: $body-border-top-height solid $color-brand-primary;
    font-size: $hero-font-size !important;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5); // Super interim solution
  }

  @media only screen and (min-width: 768px) {
    height: $hero-height;
    margin: $hero-margin-top 0 $hero-margin-bottom;
  }
}
