/**
 * Navigation
 */
.home .sub-nav {
  top: auto;
}

.sub-nav {
  background-color: $color-white;
  border-top: $body-border-top-height solid $color-brand-primary;
  font-size: 13px;
  min-height: auto;
  z-index: 5;
  top: 0px;

  .navbar-text {
    margin-top: 5px;
    margin-bottom: 8px;
  }

  .navbar-text:first-child {
    margin-right: 0;
  }

  .icon {
    background-color: $color-brand-primary;
    height: 14px;
    margin-right: 1px;
    vertical-align: middle;
  }
}


/**
 * Primary navigation
 */
.primary-nav {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  z-index: 103;

  .navbar-brand {
    background-image: url(../../images/logo-white.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    height: 80px;
    text-indent: -9999px;
    width: 185px;
  }

  .social-icons {
    margin-left: 20px;

    li {
      border: none;
      margin-right: 12px;
      margin-top: -3px;
      padding-right: 0;
    }
  }
}


/**
 * White background nav - TODO: Rename this
 */

.home .mobile-nav {
  @include opacity(0);
  @include transition(all, 200ms, ease-in);
  background-color: hsla(0, 0%, 100%, .8);
  margin-top: 0px;
  top: 0px;

  &.navbar-fixed-top .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  &.navbar-scroll-active {
    margin-top: 0;
    opacity: 1;
    z-index: 9000;
    top: 0;
    transform: translateY(0px);
  }

  .navbar-nav > li.menu-item {
    line-height: 45px;
  }

  @media screen and (min-width: 768px) {
    transform: translateY(-10px);
  }
}

.mobile-nav {
  background-color: $color-white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
  border: none;
  font-size: 15px;
  margin-top: -4px;
  padding: 6px 0;
  z-index: 102;
  transform: translateY(0px);
  z-index: 10;
  top: 0px;
  @include transition(transform, 325ms, ease-in-out);

  @media screen and (min-width: 768px) {
    max-height: 63px;
    top: 46px;

    &.navbar-scroll-active {
      transform: translateY(-40px);
      // top: 0px;
    }

    &.navbar-fixed-top .navbar-collapse {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .dropdown-menu {
    display: none;
  }

  .navbar-brand {
    @include transition(background-color, 250ms, ease-in-out);
    background-color: $color-dark-grey;
    display: inline-block;
    margin-left: 8px;
    text-indent: -9999px;
    width: 80px;
    -webkit-mask: url(../../images/logo-white.svg) center / contain no-repeat;
            mask: url(../../images/logo-white.svg) center / contain no-repeat;

    &:hover {
      background-color: $color-brand-primary;
    }
  }

  .navbar-toggle {
    border-color: $color-grey;

    .icon-bar {
      background-color: $color-grey;
    }
  }

  .navbar-nav > li {

    &.menu-item {
      line-height: 40px;
      height: auto;
    }

    &:not(.menu-item) {
      margin-right: 10px;
      padding-right: 10px;
    }

    // &.dropdown:hover > .dropdown-menu {
    //   display: block;
    // }

    .dropdown-menu {
      border: 1px solid rgba(0, 0, 0, 0.05) !important;
      border-radius: 3px !important;
      left: -10px;
      margin-top: 38px;
      top: 0;

      > li > a {
        font-size: 13px;
        margin-top: 18px;
        padding: 5px 14px;
        text-transform: uppercase;

        &:first-child {
          margin-top: 0px;
        }

        &:hover {
          background-color: transparent;
          color: $color-brand-primary;
        }
      }
    }

    &:last-child {
      border: none;
      padding: 0;
    }

    > a {
      color: $color-dark-grey;
      font-size: 13px;
      line-height: 13px;
      padding: 0;
      text-transform: uppercase;
    }

    &:hover {
      > a {
        background-color: transparent;
        color: $color-brand-primary;
      }
    }
  }

  .navbar-right {
    margin-top: 18px;
  }

  .social-icons {
    margin-top: -4px;

    li {
      border-right: none;

      .facebook {
        margin: 18px -8px 0 12px;
        padding: 0;
      }

      .twitter {
        margin: 18px 0 0 0;
        padding: 0;
      }
    }
  }

  .navbar-toggle {
    border-color: $color-brand-primary;
    border-width: 2px;

    .icon-bar {
      background-color: $color-brand-primary;
    }
  }

  .facebook {
    margin: 14px 12px 0 12px;
    padding: 0;
  }

  .twitter {
    margin: 14px 0 0 0;
    padding: 0;
  }

}

@media screen and (min-width: 768px) {
  .navbar-right {
    a {
      @include transition(color, 250ms, ease-in-out);
    }

    & > li.menu-item {
      & > a {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        padding-right: 10px;
        vertical-align: top;

        &:before {
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 15px;
          content: " ";
          display: inline-block;
          background-color: $color-light-grey;
        }
      }

      &:last-child a:before {
        display: none;
      }
    }

    &.navbar-nav > .menu-item {
      position: relative;
      line-height: 60px;
      display: inline-block;
      height: 60px;
    }

    .dropdown-menu {
      top: 5px;
      display: inline-block;
      left: -10px;
      right: auto;
      visibility: hidden;
      @include opacity(0);
      position: absolute;
      width: auto;
      transform: translateY(-10px);
      z-index: -1;
      transition: all 300ms ease-out 0s, visibility 0s linear 300ms, z-index 0s linear 1s;
    }


  }

  .navbar-nav > li {

    &.dropdown:hover > .dropdown-menu {
      // display: block;
      visibility: visible;
      @include opacity(1);
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 300ms;
    }

    .dropdown-menu {
      border: 1px solid rgba(0, 0, 0, 0.05) !important;
      border-radius: 3px !important;
      // left: 0;
      margin-top: 22px;
      // top: 0;

      > li > {
        a {
          background-color: transparent !important;
          font-size: 13px;
          padding: 5px 14px;
          text-transform: uppercase;
        }

        &.active a,
        a:hover {
          background-color: transparent;
          color: $color-brand-primary;
        }
      }
    }

    &:last-child {
      border: none;
      padding: 0;
    }

    > a {
      color: $color-white;
      font-size: 13px;
      line-height: 15px;
      padding: 0;
      text-transform: uppercase;
    }

    &:hover {
      > a {
        background-color: transparent;
        color: $color-brand-primary;
      }
    }
  }
}
