/**
 * Testimonials
 */

.testimonial-item {
  margin-bottom: $post-padding-bottom;

  .post-content {
    padding: $post-padding-top 5% $post-padding-bottom;
  }

  .testimonial-item-title {
    display: inline-block;
    margin-bottom: 16px;
    padding-bottom: 6px;
    border-bottom: 1px solid $color-brand-primary;
  }

  .image-background {
    width: 250px;
    height: 250px;
    border: $body-border-top-height solid $color-brand-primary;
    @include borderRadius(250px);
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: $post-margin-bottom;

    .image-background {
      margin-top: 10px;
    }
  }
}
