.property {
  background-color: #fff;
  margin-bottom: $property-margin-bottom;

  @media only screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .carousel,
  .carousel-inner > .item > img {
    height: 267px;

    @media only screen and (max-width: 992px) {
      height: auto;
      width: 100%;
    }
  }

  .badge {
    left: 15px;
    position: absolute;
    top: 0;
  }

  .carousel-indicators {
    bottom: 0;
  }

  .content {
    padding-top: 12px;
    padding-bottom: 12px;

    @media only screen and (min-width: 768px) and (max-width: 992px) {
      padding-left: 45px;
      padding-right: 45px;
    }

    @media only screen and (min-width: 420px) and (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    .status {
      color: $color-brand-primary;
      font-size: 12px;
    }

    .title {
      margin: 0px 0 2px;
    }

    .description {
      line-height: 12px;
      width: 95%;
    }

    .price {
      color: $color-brand-primary;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .attributes {
      color: #888;
      font-size: 13px;
      margin-bottom: 0;

      li {
        margin-right: 10px;

        .icon {
          background-color: $color-grey;
        }

        span {
          margin-left: 3px;
          vertical-align: middle;
        }
      }
    }

    .border-bottom::after {
      margin: 12px 0;
    }
  }
}
