footer {
  background-color: $footer-background-color;
  color: $footer-color;
  padding: $footer-padding-top 0 $footer-padding-bottom;
  margin-top: $footer-margin-top;

  @media only screen and (max-width: 768px) {
    [class*="col-"]:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .row:not(:last-child) {
    margin-bottom: $footer-row-margin-bottom;
  }

  h3 {
    margin-bottom: 15px;
  }

  .quiet {
    color: $color-white;
    opacity: 0.5;
  }

  .social-icons {
    margin-top: 15px;
  }

  a {
    color: $color-white !important;
    border-bottom: dotted 1px $color-white;

    &:hover {
      border-color: transparent !important;
      text-decoration: none !important;
    }
  }
}
